#!/usr/bin/make -f

export PYBUILD_NAME=mcprack-sync-vscode

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	@echo "skipping tests at package build (covered in mcprack-client)"

override_dh_install:
	dh_install
	install -D -m 644 systemd/mcprack-sync-vscode.service \
		debian/mcprack-sync-vscode/usr/lib/systemd/user/mcprack-sync-vscode.service
	install -D -m 644 systemd/mcprack-sync-vscode.timer \
		debian/mcprack-sync-vscode/usr/lib/systemd/user/mcprack-sync-vscode.timer
